<script type="text/template" id="underscore-paginator-template">
    {# PAGES TO BE ADDED HERE #}
    <li class="sep"></li>
    <li><a href="#" title="Reload" id="reload-button-paginator">
            {% image '@img_arrow_circle' %}
                <img src="{{ asset_url }}" width="16" height="16">
            {% endimage %}
        </a></li>
</script>