<script type="text/template" id="underscore-page-template">
    <a
        href="#"
        title="Page <%= page %>"
        <% if (isCurrent) { %>
            class="current"
        <% } %>
    >
        <b><%= page %></b>
    </a>
</script>